@use 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: variables.$bg-color;
  font-family: 'Arial', sans-serif;
  color: variables.$text-color;
}

