// Colores
$bg-color: #91553D;
$accent-color: #F2DBB3;
$dark-accent: #704214;
$hover-color: #D3B88C;
$button-bg: #D5BF86;
$button-hover: #482E1D;
$text-color: #F2DBB3;
$carousel-bg-color: #482E1D;
$footer-bg-color: #91553D;
$hover-active-color: #230903;
$transition-speed: 0.8s;
$background-color-App: #d3b88c;

// Fuentes y tamaños
$font-size-large: 2.5rem;
$font-size-medium: 1.5rem;
$font-size-small: 1.2rem;

// Dimensiones
$carousel-width: 100%;
$carousel-height: 620px;

$image-border-radius: 10px; 