// Colores
$bg-color: #383837;
$accent-color: #F7ECE3;
$dark-accent: #f7ece3;
$hover-color: #4A4A4A;
$button-bg: #000000;
$button-hover: #F7ECE3;
$text-color: #F7ECE3;
$carousel-bg-color: #4A4A4A;
$footer-bg-color: #383837;
$hover-active-color: #f7ece3;
$transition-speed: 0.8s;
$background-color-App: #F7ECE3;

// Fuentes y tamaños
$font-size-large: 2.5rem;
$font-size-medium: 1.5rem;
$font-size-small: 1.2rem;

// Dimensiones
$carousel-width: 100%;
$carousel-height: 620px;

$image-border-radius: 10px; 