// Colores
$bg-color: #f8f4e3;
$accent-color: #c49a6c;
$dark-accent: #704214;
$hover-color: #d4a76e;
$button-bg: #a25b34;
$button-hover: #864329;
$text-color: #4a2b0b;
$carousel-bg-color: #f7e1b5;
$footer-bg-color: #f8f4e3;
$hover-active-color: #f39c12;
$transition-speed: 0.8s;

// Fuentes y tamaños
$font-size-large: 2.5rem;
$font-size-medium: 1.5rem;
$font-size-small: 1.2rem;

// Dimensiones
$carousel-width: 100%;
$carousel-height: 620px;

$image-border-radius: 10px; 