@use 'variables' as *;
@use 'mixins' as *;

.comfortaa-font {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.footer {
  width: 100%;
  background-color: $footer-bg-color;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);

  &__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra el contenido en vertical y horizontal */
    text-align: center;

    .footer__logo {
      img {
        width: 100px; /* Logo centrado */
      }
    }

    .footer__description {
      padding: 20px 50px;
      p {
        font-size: 18px;
        color: $text-color;
        margin: 10px 0 0;
      }
    }

    .footer__socials {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;

      a {
        img {
          width: 50px; /* Ajuste de tamaño de los iconos */
          transition: transform 0.3s ease;
          
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  &__copy {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: $text-color;
    margin-top: 20px;
  }
}
