.courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 300;
  font-style: normal;
}
.comfortaa-font {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.informacion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &__content {
    background: #DAD9DB;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__imagen {
      width: 300px;
      height: 300px;
      border-radius: 10px;
      margin-bottom: 15px;
      object-fit: cover;
    
  }

  &__detalles {
    text-align: center;
  }

  &__nombre {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #383837;
  }

  &__descripcion {
    font-size: 1rem;
    color: #4A4A4A;
    margin-bottom: 15px;
  }

  &__sugerencias {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  &__cantidad {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #4A4A4A;

    label {
      margin-right: 10px;
    }

    .informacion__input {
      width: 60px;
      padding: 5px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }

  &__comprar {
    width: 100%;
    padding: 10px;
    background-color: #E5A22E;
    border: none;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    margin-bottom: 10px;

    &:hover {
      background-color: #E5A22E;
    }
  }

  &__cerrar {
    width: 100%;
    padding: 10px;
    background-color: #3A2416;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #3A2416;
    }
  }
}