
.comfortaa-font {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.mapa-panaderia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
    &__info {
      flex: 1;
      padding: 20px;
    }
  
    &__title {
      font-size: 24px;
      color: #4A4A4A;
      margin-bottom: 10px;
    }
  
    &__description {
      font-size: 16px;
      color: #4A4A4A;
      margin-bottom: 15px;
    }
  
    &__button {
      background-color: #E5A22E;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-size: 16px;
  
      &:hover {
        background-color: #E5A22E;
      }
    }
  
    &__map {
      flex: 1;
      height: 300px;
      border-radius: 10px;
      overflow: hidden;
      
    }
  }
  