.productos-destacados {
    text-align: center;
    padding: 40px 20px;
    background-color: #f4f4f4;
  
    &__title {
      font-size: 2.5rem;
      color: #333;
      margin-bottom: 10px;
      font-weight: 700;
    }
  
    &__description {
      font-size: 1.2rem;
      color: #555;
      margin-bottom: 30px;
    }

    .producto-card {
      &__button {
        background-color: #ff6347; 
        border: none;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        color: white;
        cursor: pointer;
      }
    
      &__button:hover {
        background-color: #ff4500;
      }
    }
  
    &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); //Muestra 4 columnas
      gap: 20px;
  
      @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr); // 3 columnas en pantallas medianas
      }
  
      @media (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr); // 2 columnas en pantallas pequeñas
      }
  
      @media (max-width: 500px) {
        grid-template-columns: 1fr; // 1 columna en pantallas muy pequeñas
      }
    }
  }